<html>
    <head>
        <title>Blank Screen</title>
        <style>
            body, html {
              height: 100%;
              margin: 0;
            }
            
            .bg {
              
            
              /* Full height */
              height: 100%;
              width: 100%; 
            
              /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
             
            }
            </style>
    </head>
    <body>
        <h1>Blank</h1>
        <img class="bg" src="{{url_for('static',filename='blank.gif') }}">
    </body>
</html>